/* General */

html {
    font-size: calc(0.44vw + 7.62px);
}

body {
    font-family: Roboto, sans-serif;
}

/* Intro */
.intro {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75);
}

.intro div {
    width: calc(80vh * (16 / 9));
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#intro {
    height: 80vh;
    width: 100%;
}

.intro p {
    margin: 0px;
    margin-top: 1.5vh;
    font-size: 3.3rem;
    font-weight: bold;
    cursor: pointer;
}

/* Nav General */

nav {
    margin-top: 3.4vh;
    position: absolute;
    width: 100%;
    display: flex;
    font-weight: bold;
}

nav div {
    height: 100%;
    font-size: 1.5rem;
    vertical-align: top;
}

.outer {
    height: 4.7vh;
    width: 12.5%;
    display: flex;
}

.outer p {
    margin: auto;
    width: max-content;
}

.middle {
    height: max-content;
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.mobile {
    display: none;
}

/* Nav Bars */

.bar {
    height: max-content;
    width: 32.5%;
}

.bar p {
    margin: 0px;
    width: max-content;
}

.progress {
    height: 4.7vh;
    background-color: #565E66;
}

.good {
    background-color: #A5DE78;
}

.bad {
    background-color: #E57070;
}

/* Nav Settings */

.settings {
    margin-top: -2.5% !important;
    margin-right: 15% !important;
    height: min-content;
    font-size: 3.5rem;
    color: #676E75;
    cursor: pointer;
    line-height: 1;
}

[class^="bi-"]::before, [class*=" bi-"]::before {
	vertical-align: 0px;
}

.settings:hover {
    color: #767D84;
}

/* Main General */

main {
    position: absolute;
    margin-top: 50vh;
    margin-left: 20%;
    width: 60%;
    height: 50%;
    font-size: 2rem;
}

main div {
    width: 100%;
}

/* Main Question */

.question {
    height: 33%;
    background-color: #393F44;
    border: 1px solid #565E66;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 1%;
    font-weight: bold;
}

/* Main Answers */

.answers {
    margin-top: 4%;
    height: 46%;
    display: flex;
    justify-content: space-between;
}

.answer {
    position: relative;
    width: 47%;
    background-color: #393F44;
    border: 1px solid #565E66;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 1%;
    cursor: pointer;
}

.answer:hover {
    background-color: #484E53;
}

.extern {
    position: absolute;
    top: 4px;
    right: 9px;
    font-size: 1.5rem;
}

/* Responsive */

@media all and (max-width: 1160px) {
    .intro div {
        height: auto;
        width: 70vw;
    }

    #intro {
        height: calc(70vw / (16 / 9));
    }

    nav {
        margin-top: 1.5vh;
    }

    .outer {
        width: 25%;
    }

    .middle {
        width: 50%;
        flex-direction: column;
    }

    .bar {
        width: 100%;
    }

    .bar:not(:last-child) {
        margin-bottom: 2.5%;
    }

    .settings {
        margin-top: 0px !important;
    }

    main {
        margin-left: 10%;
        width: 80%;
    }

    .answers {
        height: 51%;
    }
}

@media all and (max-width: 700px) {
    nav {
        flex-wrap: wrap;
    }

    .outer {
        width: 50%;
    }

    .middle {
        margin: auto;
        width: 95%;
    }

    .bar:last-child {
        margin-bottom: 2.5%;
    }

    .settings {
        margin: auto !important;
    }

    .mobile {
        display: flex;
    }

    .desktop {
        display: none;
    }

    main {
        margin-top: 40vh;
        margin-left: 2.5%;
        height: 60%;
        width: 95%;
    }

    .answers {
        height: 60%;
    }
}

@media all and (max-height: 600px) {
    html {
        font-size: calc(0.44vw + 5px);
    }

    .middle {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }

    .bar {
        width: 32%;
    }

    main {
        margin-top: 30vh;
        height: 70%;
    }

    .answers {
        height: 56%;
    }
}
